{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<!-- <script>
    const element = document.querySelector('.md-banner__inner.md-grid.md-typeset');
    if (element) {
    element.remove();
    }

</script> -->
<link rel="stylesheet" href="assets/stylesheets/home.css">
<!-- Hero -->
<style>
    
</style>
<section class="container">
    <!-- Background Video -->
    <!-- <video autoplay muted loop playsinline class="bg-media">
        <source src="../assets/videos/video1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> -->
    <img id="darkmodeimage" src="assets/images/darkmodeimage.jpg" alt="Background" class="bg-media">
    <img id="lightmodeimage" src="assets/images/lightmodeimage.jpg" alt="Background" class="bg-media">

    <!-- Overlay Content -->
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="hero-items">
                <div class="left">
                    <h1>#Lebanon #Syria #Iraq</h1>
                    <p>Welcome to the Levant vACC Library! Home to our policies, pilot resources, and controller materials! Begin exploring by navigating the menu above!</p>
                </div>
                <div class="right">
                    <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}"
                       class="md-button md-button--primary">
                        <span>Start reading
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 20" fill="none">
                                <path d="M2 10H23.5M23.5 10L15.5 18M23.5 10L15.5 2" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="fade"></div>
</section>

<!-- Page links -->

<div class="lowerSection">
    <div class="md-grid md-typeset">
        <div class="feature">
            <h2>Featured Sections</h2>

            <div class="cards">

                <div class="card">
                    <a href="aerodrome/">
                        <h3>Standard Operating Procedures</h3>

                        <p>
                            Access our aerodrome, terminal, and enroute standard operating procedures in this section! All airport-specific materials are available here.
                        </p>
                    </a>
                </div>

                <!-- <div class="card">
                    <a href="vacc_documents/">
                        <h3>Policies</h3>

                        <p>
                            Searching for our vACC policies for controllers, events guidelines, training syllabus, and more? You’ll find all of these resources in this section of the library.
                        </p>
                    </a>
                </div> -->
            </div>

        </div>
    </div>
</div>



{% endblock %}
{% block content %}{% endblock %}




